body {
  font-family: "Rajdhani", sans-serif;
}
body::-webkit-scrollbar,
.sco::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track,
.sco::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0.452); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb,
.sco::-webkit-scrollbar-thumb {
  background-color: rgba(255, 94, 0, 0.395);
  border-radius: 20px;
}
